h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
pre,
table,
blockquote,
input,
button,
select,
textarea {
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}
button {
    background-color: transparent;
    /* Green */
    
    border: none !important;
    border-radius: 0px !important;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
img {
    max-width: 100%;
}
.row {
    margin: 0px;
    border: 0px;
}
.col-md-7,
.col-md-5,
.col-md-4 {
    padding: 0px;
    float: center;
}
.row.one {
    background-color: #193a55;
    max-height: 50px;
    margin-bottom: 5px;
}
.one {
    background-color: #3b5997;
    align-items: center;
    border-bottom: 5px !important;
    border-color: black !important;
}
.one img {
    max-height: 50px;
}
.header-1 {
    padding-left: 0px;
    padding-right: 0px;
}
.header-2 {
    height: 50px;
    display: flex;
    align-items: center;
}
.header-2 .bset {
    height: 50px;
    background-color: #128d80;
    display: flex;
    align-items: center;
}
.btnrtn {
    margin-left: 25px;
}
.header-2,
.header-3 {
    text-align: right;
    padding-left: 0px;
    padding-right: 0px;
}
.nav-sec {
    height: 300px;
    padding-left: 0px;
    border-left-width: 100px;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 200px;
    background: rgba(5, 21, 53, .2)
}
.nav-sec a {
    color: white;
    margin-right: 0px !important;
    border-radius: 0px !important;
}
.nav-sec a:hover {
    background-color: white !important;
    border: 0px;
    color: black;
}
.nav-tabs {
    border-bottom-width: 0px;
}
.nav li a {
    position: relative;
    display: block;
    padding: 10px 30px;
    background-color: #098c7f;
}
.nav-tabs li a:active {
    border: 0px !important;
    background-color: #193a55 !important;
}
.nav-tabs li {
    width: 33%;
}
.form-control {
    border-radius: 0px !important;
    border-right: 0px;
    background-color: transparent;
}
.input-group-addon {
    border-radius: 0px;
    background-color: transparent;
}
.input-group {
    margin: 10px;
}
.arrow-right {
    width: 0;
    height: 0;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
    border-left: 70px solid #098c7f;
    top: 200px;
    position: absolute;
}
.second {
    background: url('2.jpg');
    color: white;
}
.second .btn-secondary {
    background-color: #098c7f;
    margin-top: 15px;
}
span #basic-addon1 {
    border-left-width: 0px;
}
.input-group-addon #basic-addon2 {
    border-left: 1px !important;
}
.input-group #noof {
    border: 0px;
}
.hh {
    color: #098c7f;
}
.serfli {
    margin-left: 40px;
}
.third {
    display: table;
    background-color: #128d80;
    color: white;
}
.third-left {
    padding-top: 20px;
    padding-left: 20px;
}
.third-left h5 {
    font-size: xx-large;
}
.third-left h3 {
    font-size: -webkit-xxx-large;
}
.third h1 {
    color: #fe9900;
    font-size: -webkit-xxx-large;
}
.third button {
    background-color: #1567bb;
}
.fourth-left {
    background-color: #1d3a55;
    color: white;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
}
.tonum {
    background-color: transparent;
    margin-left: 25px;
}
.pass {
    margin-left: 10px;
    margin-right: 40px;
}
.pass2 {
    padding-left: 10px;
    margin-right: 30px;
}
.fourth-right {
    padding-left: 50px;
}
.footer {
    background-color: #128d80;
    align-items: center;
    color: white;
    font-size: larger;
}
.footer-left,
.footer-middle,
.footer-right {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.footer img {
    max-height: 50px;
}
.fourth-left h3 {
    padding-bottom: 20px;
}
.fourth-left .input-group {
    padding-bottom: 13px;
    margin-left: 0px;
}
.rigg {
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
}
.leff {
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}
.fourth-left h2 {
    color: #128d80;
    padding-bottom: 5px;
}
.fourth-left h5 {
    padding-bottom: 5px;
}
.frm {
    font-size: x-large;
    padding-bottom: 60px;
}
.third-left .rate {
    font-size: 50px;
    color: #fe9900;
    margin-left: 50px;
    font-size: 80px;
}
.third-left p {
    margin-left: 170px;
    font-size: 25px;
    margin-bottom: 20px;
}
.third-left .btn {
    margin-left: 25px;
}
.fourth-right h1 {
    color: #0860bd;
    font-size: 40px;
}
.fourth-right h4 {
    margin-top: 15px;
    margin-bottom: 20px;
}
.fle {
    display: flex;
    align-items: center;
    border-bottom-width: 40px;
}
.hh {
    font-size: 23px;
    margin-top: 20px;
}
@media screen and (max-width: 768px) {
    .arrow-right {
        top: 0px;
        left: 200px;
        border-top: 0px solid transparent;
        border-bottom: 70px solid transparent;
        border-left: 70px solid #098c7f;
    }
    .fourth-right {
        padding-left: 10px;
    }
    .americatext h1 {
        font-size: 30px;
    }
    .fourth-left {
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
    }
    .btnn {
        margin-bottom: 20px;
        margin-left: 40px;
    }
    .nav li a {
        position: relative;
        display: block;
        padding: 5px 5px;
        background-color: #098c7f;
    }
    .bttn {
        width: 100%;
    }
    .nav-sec {
        margin: 5px;
    }
    .fourth-right h1 .nav-tabs {
        width: 300px;
    }
    .tab-content {
        width: 300px;
    }
}
@media screen and (max-width: 768px) {
    .fourth-right h4 {
        margin: 5px;
    }
    .fourth-right h4 {
        margin: 5px;
    }
    .freq1 {
        font-size: smaller;
        margin-top: 0px;
    }
    .freq {
        font-size: smaller;
        margin-top: 0px;
    }
    .header-2 {
        width: 100%;
    }
    .bset {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .bset {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .twwo {
        width: 100%;
    }
    .imgg {
        width: 50%;
    }
    .onne {
        width: 100%;
    }
    .pass2 {
        border: 0px;
    }
    .tablecols {
        padding: 0px;
    }
    .third-left p {
        font-size: 10px;
    }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
    .third-left b {
        font-size: 5px;
    }
    .third-left h1 {
        font-size: 15px;
    }
    .third-left h3 {
        font-size: 20px;
    }
    .third-left h5 {
        font-size: 10px;
    }
    .third-left .frm {
        font-size: 5px;
    }
    .third-left .rate {
        font-size: 15px;
    }
    .third-left p {
        font-size: 5px;
        margin-left: 40px;
    }
    .third-left {
        padding-left: 70px;
        padding-top: 70px;
    }
    .arrow-right {
        top: 100px;
    }
    .third-left p {
        margin-bottom: 0px;
    }
    .fourth-right h4 {
        margin: 5px;
    }
    .fourth-right {
        padding-top: 20px;
        padding-left: 20px;
    }
    .fourth-right h1 {
        font-size: 30px;
    }
    .fourth-left {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 2000px) and (min-width: 992px) {
    .third-left {
        padding-left: 50px;
        padding-top: 50px;
    }
    .tab-content {
        padding-left: 50px;
        padding-top: 50px;
    }
    .fourth-left {
        padding: 50px;
    }
}
